.card-wrap {
  height: 417px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  width: 47%;
  margin: 0 10px 20px 20px;
  text-align: left;
}
