.bg-black {
  background-color: #000000;
  border-radius: 20px;
}
.white-bg-btn {
  background-color: #fff;
}

.card-main {
  display: flex;
  flex-wrap: wrap;
}
.bg-black h3 {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  padding: 20px 20px 0;
}

.buttons-wraper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
